.git
.gitignore
.pytest_cache
.venv
venv
__pycache__
*.py[cod]

.env
.env.*
!.env.example
*.pem
*.ppk

dev_chat.db
tests
docs
requirements-dev.txt
pytest.ini

Dockerfile*
docker-compose*.yml
compose*.yml
